*.csv
*.sql

query2optimization/

repository/plots

repository/previous

repository/synthetic_experiments

repository/*csv

results/script*

output/coco_complete
output/synthetic
output/synthetic_

models/

script*/
tables*/

image/

yolov3/

!repository/model_stats_f1.csv
!results/results*.csv
!output/coco/*.csv