# *.csv
*.sql

output/*
logs/*

.DS_Store

iis/
/.ipynb_checkpoints

# baselines/baseline_c_accuracy_*

repository/plots
repository/previous
repository/synthetic_experiments
repository/*csv


output/coco_complete
output/synthetic
output/synthetic_

models/
image/

script*/
results/script*



yolov3/

!repository/model_stats_ap.csv
!repository/*selectivity.csv

!results/results*.csv